[Unit]
Description=MPD Notification
# Do not require any service here! We do rely on mpd OR network (for
# a remote mpd instance). So let the user care.
# We want to order after, though. This makes sure the resource is
# available on start and mpd-notification can cleanly disconnect on
# system shutdown.
After=mpd.service network.target network-online.target
ConditionUser=!@system

[Service]
Type=notify
ExecStart=/usr/bin/mpd-notification

[Install]
WantedBy=default.target
